[package]
name = "v9"
version = "0.1.2"
authors = ["neptunepink <purpleposeidon@gmail.com>"]
edition = "2018"
license = "MIT/Apache-2.0"
repository = "https://github.com/purpleposeidon/v9"
description = "A slim data engine for Data Oriented Design"

[dependencies]
mopa = "0.2"
#slice-deque = "0.1.16"
smallvec = "0.6"
paste = "0.1.5"

[dev-dependencies]
rand = "0.6"
